body{
    background-color: rgb(242, 246, 249);
}
#menu-droit,#p-milieu{
    display: inline-block;
    vertical-align: top;
    height: 100vh;   
}
#menu-droit{
    width: 250px;
    .gmail p,h1{
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
        font-family: 'Courier New', Courier, monospace;
        .menu{
            border: 1px solid black;
            border-radius: 40px;
            height: 40px;
            width: 40px;
        }
        .mail{
            width: 30px;
        }
        h1{
            color: rgb(98, 96, 96);
        }
    }
    .nouve-message{  
        border: 1px solid rgb(168, 224, 251);
        border-radius: 20px;
        text-align: left;
        margin-right: 40px;
        height: 50px;
        background-color: rgb(168, 224, 251);
        
        br{
            
            border: 1px solid black;
        }
        p{
            display: inline-block;          
            vertical-align: top;
            margin-left: 10px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    }
    #contentScroll{
        margin-right: 0px;
        height: 490px;
        overflow: auto;
        ul {
            list-style-type: none;
            margin-left: -40px;
            li{   
                word-wrap: break-word;
                margin-left: 0px;
            }
        }
        p{
            display: inline-block;
            vertical-align: middle;
            margin-left: 2px;
            color: rgb(25, 25, 25);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 0.8em;
        }
    }
}
#p-milieu{
    width: 1075px;
    section,aside{
        display: inline-block;
        vertical-align: top;
    }
    section{     
        width: 1020px;   
    }
    #content{
        background-color: white;
        border-radius: 15px;
        height: 570px;
    }
    #head-content p{
        display: inline-block;
        vertical-align: top;
    }
    #head {
         p{
            display: inline-block; 
            vertical-align: middle; 
            padding-left: 0px;
            margin-left: 0px;
         }
         input{
            margin-left: -30px;
            height: 50px;
            width: 700px;
            border: 1px solid rgb(242, 246, 249);
            border-radius: 10px;
            background-color: rgb(238, 250, 255);
            padding-left: 50px;
            padding-right: 50px;
            font-size: large;
            box-shadow: 0px 0px 2px rgb(224, 246, 255);
        } 
    }
    #para{
        display: inline-block;
        text-align: right;
        vertical-align: middle;
        width: 190px;   
        margin-left: 80px;
    }
    #para p{
        margin-left: 10px;
    }
    header{
        width: 1020px;
        .search{
            position: relative;
            left: 10px;
            top: 3px;
            width: 30px;
            height: 30px;
        }
        .option{
            position: relative;
            right: 40px;
            top: 3px;
            width: 30px;
            height: 30px;
        }
    }   
    #msgs{
        height: 500px;
        overflow: auto;
        #menumsg div{
            .active{
                border-bottom: solid blue 1px;
                border: 1px solid black;
            }
            display: inline-block;
            vertical-align: top;
            width: 300px;
            p{
                display: inline-block;
                vertical-align: middle;
                margin-left: 10px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
        }
        ul{
            list-style-type: none;
            li{
                margin-left: -40px;
                border-bottom: 1px solid rgb(170, 170, 170);
                height: 50px;
                p{
                    display: inline-block;
                    vertical-align: middle;
                }
                input{
                    height: 20px;
                    width: 20px;
                }
                #check,#favorite{
                    width: auto;

                }
                #title-mail{
                    width: 300px;
                }
                #content-mail{
                    width: 500px;
                }
            }
        }
    }
    #gauche{
        ul{
            list-style-type: none;
            li{
                margin-left: -40px;
                text-align: center;
            }
        }
    }
}
.icon-menu{
    height: 20px;
    width: 20px;
}
.icon{
    height: 25px;
    width: 25px;
}

.profil{
    height: 40px;
    width: 40px;
    border-radius: 40px;
}
.checkbox{
    height: 20px;
    width: 20px;
}